<div class="row page">
    <div class="col-md-9">
	    <!-- content -->

	    <div class="slogan" style="margin-bottom: 17px">
	      当前位置&nbsp;:&nbsp;<a href="<%- config.root %>" >首页&nbsp;</a>»&nbsp;<%= page.title %>
	    </div>

	    <div id="top_search"></div>
		    
	    <div class="archive">	  
		<div id="archives"> 
		  <h3>
		  关于本站
		  </h3>
		
		  <blockquote>
			本博客于2016年上线
				    </br>
				    </br>
				    博客基于hexo和free2mind主题搭建，部署在github上，通过阿里云域名解析指向github
			</br>
			</br>
			
			若无特殊说明，本站所有文章均为网络收集或博主原创文章，如果出现版权问题请联系博主邮箱: daiwoniu@aliyun.com

		  </blockquote>
		  </br>
		
		  <h3>
		  关于博主
		  </h3>
	      

		  <blockquote>
			从一名工地农民工转行为一枚电脑码农！！！
			</br></br>低调程序猿一枚，爱好：骑车、动漫（只有海贼王）、电影、睡觉
			</br></br>喜欢新科技和科幻
		  </blockquote>
		  </br>
		  <h3>
		  联系博主
		  </h3>
	      

		  <blockquote>
			邮箱：daiwoniu@aliyun.com
		  </blockquote>
		  </br>
		 </div>	
	    </div>	

    </div><!-- row -->

<% if (theme.widgets.length) { %>
<%- partial('_partial/sidebar') %>
<% } %>

</div>