
<div class="body-wrap">
<% if(theme.search_box) { %>
  <div id="rearch-container" class="st-search-container" style="text-align: center;padding-top:30px;margin-left:20px;margin-right:20px;">正在加载搜索结果，请稍等...</div>
<%}%>
</div>

